.button {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 0px;
  &__primary {
    background-color: #ff6336;
    border: 1px solid #ff6336;
    color: #fff;
    height: 45px;
    padding: 0 22px;
    &:hover {
      background-color: transparent;
      color: #ff6336;
    }
  }
  &__primary-large {
    height: 60px;
    padding: 0 42px;
  }
  &__primary-black {
    padding: 0 30px;
    background-color: transparent;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
    &:hover {
      background-color: black;
      color: white;
    }
  }
}